@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Righteous&display=swap');

html{
	overflow-x: hidden;
}


.sticky {
    position: fixed;
    top: 0;
    left: 0;
	right: 0;
	z-index: 100; /* Ensure the navigation stays on top of other elements */
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1); /* Add a shadow for a nice effect */
}

.contentStuck{
	margin-top: 6rem;
}

nav
{
	background-color:black;
	height:6rem;
	width:100%;
	position:relative;
	left:0;
	z-index:2;
}

nav ul
{
	display:flex;
	justify-content:space-around;
	list-style-type:none;
	padding:0;
	margin:0 auto;
	align-items:center;
	height:6rem;
	width:60%;
}

nav ul li
{
	padding:3rem;
	font-family: 'ZCOOL XiaoWei', serif;
	font-size:100%;
	margin:0;
	text-align:center;
}

nav ul li a
{
	color:orangered;
}

body{
	padding:0;
	margin:0;
}

header{
	background-color:orangered;
	padding:0;
	margin:0;
}

main{
	background-color:white;
	min-height:100vh;
	z-index:1;
	position:relative;
	padding:1rem;
}

h1{
	font-size:clamp(3rem, 8vw, 40rem);
	margin:0;
	padding:1rem 0;
	padding-bottom:2rem;
	padding-left:1rem;
}

h1, footer{
	position:sticky;
	top:0;
	left:0;
	background-color:orangered;
	color:black;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

h1, h2, h3, h4{
	font-family: 'Righteous', serif;
}

img{
	position:absolute;
	left:50vw;
	animation-name: rotateGear;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

@keyframes rotateGear{
  from {transform: rotate(0deg)}
  to {transform: rotate(360deg)}
}